#faq {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    position: relative;


    .top {
        margin-bottom: 5rem;

        h1 {
            font-size: 3.5rem;
            position: relative;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: -2rem;
                left: 0;
                width: 100%;
                height: 3rem;
                background-image: url("../../public/assets/underline.svg");
                background-repeat: none;
                background-position: center;
                background-size: cover;
                opacity: .9;
            }
        }

    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    .question {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

        &:hover{
            cursor: pointer;
        }
        
        .ask {
            display: flex;
            width: 60%;
            align-items: center;
            background-color: #ffffff;
            padding: 20px 40px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: pointer;
                transition: all .3s ease;
            }

            button {
                border: none;
                text-decoration: none;
                background-color: transparent;
                margin-right: 2rem;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            h2 {
                font-size: 1.3rem;
            }

        }

        .answer {
            background-color: white;
            width: 60%;
            padding: 20px 40px;
            border: 5px solid #FAFAFA;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .icon {
                margin-right: 1rem;

                p {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#faq {

    .zigzagSvg, .arrowSvg {
        position: absolute;
        opacity: .6;
    }

    .zigzagSvg {
        top: 0;
        left: 200px;
        transform: rotate(35deg);
    }

    .arrowSvg {
        top: 0;
        right: 0;
        transform: translateX(40%);
        z-index: 0;

        img {
            height: 400px;
        }
    }

}

@media only screen and (max-width: 1100px) {


    #faq .bottom {
        width: 100%;
    }

    #faq .zigzagSvg {
        display: none;
    }
    

}

@media only screen and (max-width: 750px) {


    #faq {
        .ask, .answer {
            width: 80% !important;
        }
    }
    

}