#features {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10rem;

    .top {
        text-align: center;
        width: 75%;
        margin-bottom: 5rem;

        h1{
            font-size: 3.5rem;
            margin-bottom: 3rem;
            position: relative;

            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);
                width: 40%;
                height: 2rem;
                background-image: url("../../public/assets/underline.svg");
                background-repeat: none;
                background-position: center;
                background-size: cover;
                opacity: .9;
            }
        }

    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .cardContainer {
            width: 49%;
            padding: 20px 40px;
            border-radius: 5px;
            background-color: #ffffff;
            margin-bottom: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: default;
                transition: all .3s ease;
            }

            .content {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                .title {
                    font-size: 1.3rem;
                    margin-right: 1rem;
                }

                .extra{
                    font-size: 1rem;
                    opacity: .75;
                    color: #1D5AF7;
                }
            }

            
        }

    }

}

#features .plusSvg {
    position: absolute;
    top: -100px;
    left: -70px;
    opacity: .6;

    img {
        width: 200px;
        height: 200px;
    }
}



@media only screen and (max-width: 1100px) {

    #features {

        width: 100%;

        .bottom {
            flex-direction: column;
            padding: 0 2rem;
            align-items: center;
            
            .cardContainer {
                width: 75%;
            }
        }
    }

    #features .plusSvg {
        position: absolute;
        top: -100px;
        left: -50px;
        opacity: .6;
        transform: rotate(25deg);
    
        img {
            width: 200px;
            height: 200px;
        }
    }

}

@media only screen and (max-width: 750px) {

    #features .cardContainer {
        width: 100% !important;

        .content{
            flex-direction: column;
            align-items: start !important;
        }
    }

}