nav {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    color: white;
}

.arrow {
    display: none;
}

.item {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    a {
        color: white;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;

    div:not(:last-child) {
        margin-right: 2rem;
    }
}

.name {
    display: flex;
    align-items: center;


    img {
        width: 50px;
        height: 70px;
        margin-left: 1rem;
    }
}

.download {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;

    &:hover {
        background-color: #1D5AF7;
        cursor: pointer;
        transition: all .2s ease;
        border-color: white;
    }
    
    &:hover a {
        color: white;
        transition: all .3s ease;
    }

    a {
        color: #1D5AF7;
    }

}   


@media only screen and (max-width: 1440px) {

    .navbar {
        width: auto;

        div:not(:last-child) {
            margin-right: 2rem;
        }
    }

}

@media only screen and (max-width: 750px) {

    .name h2 {
        display: none;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        width: 20px;
        height: 20px;
        
        button {
            background-color: transparent;
            text-decoration: none;
            border: none;
            transition: all .2s ease;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: white;
        }
    }

    .navbar {
        background-color: white;
        border-radius: 10px;
        padding: 5px 0 5px 5px;
        position: absolute;
        z-index: 10;
        top: 4rem;

        .item a, .download a {
            color: #1D5AF7;
        }
    }


}

@media only screen and (max-width: 450px) {

    nav .navbar a {
        font-size: .8rem;
    }

}

@media only screen and (max-width: 350px) {

    nav .navbar a {
        font-size: .7rem;
    }

}